In [1]:
import ipysheet
import pandas as pd

In [2]:
df = pd.read_csv('COVID19.csv')

In [3]:
df

,Date,Cases,Deaths,Vancouver Island,Tests,Recovered,Hospitalized,ICU
0,2020-02-22,6,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-24,7,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-29,8,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-03,11,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-04,12,NaN,NaN,NaN,NaN,NaN,NaN
5,2020-03-07,18,NaN,NaN,6326.0,NaN,NaN,NaN
6,2020-03-09,27,NaN,NaN,NaN,NaN,NaN,NaN
7,2020-03-12,53,NaN,NaN,NaN,NaN,NaN,NaN
8,2020-03-13,64,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-03-14,73,NaN,NaN,NaN,NaN,NaN,NaN
10,2020-03-16,103,NaN,NaN,NaN,5.0,6.0,NaN
11,2020-03-17,186,7.0,12.0,NaN,NaN,7.0,4.0
12,2020-03-18,231,7.0,16.0,NaN,NaN,NaN,NaN
13,2020-03-19,271,8.0,22.0,NaN,NaN,17.0,9.0
14,2020-03-20,348,9.0,30.0,17912.0,NaN,22.0,10.0
15,2020-03-21,424,10.0,37.0,NaN,6.0,27.0,12.0
16,2020-03-23,472,13.0,39.0,26681.0,100.0,33.0,14.0
17,2020-03-24,617,13.0,44.0,31739.0,173.0,59.0,23.0
18,2020-03-25,659,14.0,47.0,34561.0,183.0,64.0,26.0
19,2020-03-26,725,14.0,52.0,NaN,186.0,66.0,26.0
20,2020-03-27,792,16.0,57.0,36643.0,257.0,73.0,NaN
21,2020-03-28,884,17.0,60.0,NaN,396.0,81.0,52.0
22,2020-03-30,970,19.0,67.0,42028.0,469.0,NaN,NaN

In [4]:
sheet = ipysheet.from_dataframe(df)

In [5]:
sheet

Sheet(cells=(Cell(choice=[], column_end=0, column_start=0, numeric_format=None, row_end=22, row_start=0, squee…